<h1>アプリ設定</h1>

<%= form_with model: @setting, local: true do |f| %>
  <div>
    <%= f.label :theme, "テーマ" %>
    <%= f.select :theme, ["シンプル", "パーティー", "カジノ", "スポーツ"] %>
  </div>

  <div>
    <%= f.label :sound, "サウンド" %>
    <%= f.select :sound, ["あり", "なし"] %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>