<!DOCTYPE html>
<html>
<head>
  <title>Shuffly</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="flex flex-col min-h-screen">
  <!-- ヘッダー -->
  <%= render 'shared/header' %>

  <!-- メインコンテンツ -->
  <main class="flex-grow mx-auto w-full max-w-[1200px] px-4 py-8">
    <% if notice %>
      <p class="text-green-600 mb-4"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="text-red-600 mb-4"><%= alert %></p>
    <% end %>

    <%= yield %>
  </main>

  <!-- フッター -->
  <%= render 'shared/footer' %>
</body>
</html>